{
  "env": {
    "node4": {
      "presets": [
        ["env", {
          "targets": { "node": "4" }
        }]
      ]
    },
    "node6": {
      "presets": [
        ["env", {
          "targets": { "node": "6" }
        }]
      ]
    },
    "node8": {
      "presets": [
        ["env", {
          "targets": { "node": "8" }
        }]
      ]
    },
    "legacy": {
      "presets": ["env"]
    }
  }
}
